{% extends "base.html" %}
{% load static %}
{% block title %}
    All Category
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "website/category.css" %}">
{% endblock css_files %}
{% block content %}
    <div class="category-container">
        {% for category in all_category %}
            <a href="{% url 'sort-category' category.slug %}"
               class="category-link"
               id="category-{{ category.id }}">
                <ul class="category-list">
                    <li class="category-item">
                        <img src="{{ category.image.url }}">
                    </li>
                    <p class="category-name">{{ category.name }}</p>
                </ul>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
