{% extends "base.html" %}
{% load static %}
{% block title %}
    Add Product
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "website/add_product.css" %}">
{% endblock css_files %}
{% block content %}
    <form action="{% url "buy-form" %}"
          method="POST"
          enctype="multipart/form-data"
          class="add-product-form">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="add-product-button"
                style="background-color: #FF5733;
                       color: #FFFFFF;
                       font-weight: bold">Buy Now</button>
    </form>
{% endblock content %}
