.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* This ensures that items wrap to a new row if there isn't enough space */
}

.category-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 300px;
    /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.category-link:hover {
    transform: scale(1.05);
    color: #e74c3c;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-item {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.category-item img {
    max-width: 100%;
    /* Set max-width to 100% to match the container width */
    height: auto;
    margin-right: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    /* Add this to center the image */
    max-height: fit-content;
}

.category-name {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    color: #6B8E23;
    font-weight: bold;
}