/* products.css */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 150px;
    max-height: 150px;
}

.product-name {
    text-decoration: none;
    color: #6B8E23;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    text-decoration: none;
    font-size: 18px;
    color: #6B8E23;
    margin-bottom: 10px;
}

.product-item a {
    text-decoration: none;
    color: inherit;
}