.product-link {
    text-decoration: none;
    color: #333;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.product-info {
    margin-left: 10px;
}

.product-name {
    font-weight: bold;
}

.product-image {
    max-width: 100px;
    height: auto;
}


/* Add this to your existing CSS file (product.css) or create a new one if necessary */

.product-link {
    text-decoration: none;
    color: #333;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    transition: transform 0.3s;
    border-radius: 8px;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-card:hover {
    transform: scale(1.05);
}